html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: grey;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction:column;
}
h1 {
  text-align: center;
}
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  margin: auto;
  max-width: 1200px;
  height: 70vh;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.settings {
  display: flex;
  justify-content: center;
}

.tunings {
  margin-bottom: 7px;
  background: #bebebe;
  padding: 7px;
  border-radius: 7px;
  list-style-type: none;
  width: 140px;
  overflow-wrap: inherit;
  text-align: center;

}
.tuning-container {
  display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 550px;
    justify-content: space-around;
}

.tunings.selected {
  background-color: pink;
}


.image-container {
  width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
 img {
   height : 100%
 }
