html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: grey;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction:column;
}
h1 {
  text-align: center;
}
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  margin: auto;
  max-width: 1400px;
  height: 70vh;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.settings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tunings {
  margin-bottom: 7px;
  background: #e1e1e1;
  padding: 13px 7px;
  border-radius: 7px;
  list-style-type: none;
  width: 145px;
  overflow-wrap: inherit;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}

.tunings:hover {
  font-weight: 600;
  background: #f0f0f0;
  box-shadow: 2px 2px 5px 1px #5f5a5a;
}
.tuning-container {
  display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 550px;
    justify-content: space-around;
}

.tunings.selected {
  background-color: black;
  color: white;
  font-weight: 700;
}
.tunings.selected:hover{
  font-weight: 700;
}

.image-container {
  width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: black 5px solid;
}
 img {
   height : 100%
 }
.keyboard-toggle-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bindings {
  cursor: pointer;
}

.bindings.hide{
  opacity: 0.3;
}
